.logement_banner {
    display: flex;
    width: 100%;
    min-height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    @media screen and (max-width: 768px) {
        min-height: 255px;
    }
    .arrow_left {
        position: absolute;
        left: 20px;
        @media screen and (max-width: 768px) {
            height: 50px;
            left: 5px;
        }
    }
    .arrow_right {
        position: absolute;
        right: 20px;
        @media screen and (max-width: 768px) {
            height: 50px;
            right: 5px;
        }
    }
    .arrow_hidden{
        display: none;
    }
    .logement_picture {
        height: 500px;
        width: 100%;
        object-fit: cover;
        object-position: 60% 60%;
        position: absolute;
        transition: all 1.5s ease-in-out;
        @media screen and (max-width: 768px) {
            max-height: 255px;
        }
    }
    .hidden {
        width: 0;
    }
    .points {
        display: flex;
        position: absolute;
        bottom: 1rem;
        @media screen and (max-width: 768px) {
            display: none;
        }
        .point {
            background-color: $color-primary;
            height: 0.65rem;
            width: 0.4rem;
            border-radius: 100%;
            margin: 0 5px;
            box-shadow: 0 0 5px #555;
            border: none;
            outline: none;
            cursor: pointer;
        }
        .inactif {
            background-color: $color-sec;
        }
    }
    .point_hidden {
        display: none;
    }
}