.img_banner_apropos {
    margin: auto;
    max-width: 1440px;
    height: 230px;
    display: flex;
    flex-direction: column;
}

.desc {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: 30px auto;
    width: 100%;
}