.logement {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 30px auto;
    position: relative;
    .logement_banner {
        display: flex;
        width: 100%;
        min-height: 500px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        .arrow_left {
            position: absolute;
            left: 20px;
        }
        .arrow_right {
            position: absolute;
            right: 20px;
        }
        .logement_picture {
            height: 500px;
            width: 100%;
            object-fit: cover;
            object-position: 70% 70%;
            position: absolute;
            transition: all 0.8s ease;
        }
        .hidden {
            width: 0;
        }
        .points {
            display: flex;
            position: absolute;
            bottom: 1rem;
            .point {
                background-color: $color-primary;
                height: 0.6rem;
                width: 0.4rem;
                border-radius: 100%;
                margin: 0 5px;
                box-shadow: 0 0 5px #555;
                border: none;
                outline: none;
                cursor: pointer;
            }
            .inactif {
                background-color: $color-sec;
            }
        }
    }
    .logement_flex {
        display: flex;
        justify-content: space-between;
    }
    .logement_title {
        color: $color-primary;
        h1 {
            font-size: $size-subtitle;
            margin-bottom: 0;
        }
        h2 {
            margin: 5px 0 20px;
        }
        li {
            font-size: $size-tag;
        }
        .logement_tag_flex {
            display: flex;
            margin: 0 0 20px;
        }
        .logement_li_flex {
            color: white;
            background-color: $color-primary;
            padding: 5px 20px;
            border-radius: 10px;
            margin-right: 10px;
        }
    }
    .logement_host {
        p {
            max-width: 75px;
            margin: 0;
            color: $color-primary;
        }
        .logement_host_flex {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .logement_host_round {
            width: 65px;
            height: 65px;
            border-radius: 50%;
            margin: 20px;
        }
    }
    .logement_desc {
        display: flex;
        width: 100%;
        .logement_desc_col {
            width: 50%;
        }
        .margin {
            margin-right: 50px;
        }
        .logement_p{
            margin: 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 15px;
            background-color: $color-sec;
            color: $color-primary;
        }
    }
}